<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="medGroupConfigs" type="UseCustomSections.BLL.MedGroupConfigsSection, UseCustomSections"/>
  </configSections>
  <!--section-->
  <medGroupConfigs>
    <!--collection-->
    <medGroups>
      <!--elements-->
      <add name="Med Group 1" queryString="medical-group-one" username="MGO-001" />
      <add name="Med Group 2" queryString="medical-group-1" username="MGO-002" password="abcdef"/>
      <add name="Med Group 3" queryString="medical-group-two" username="MGO-003" />
    </medGroups>
  </medGroupConfigs>
</configuration>